Source: havis.util.cycle
Maintainer: HARTING IT_SD <opensource@HARTING.com>
Build-Depends: debhelper, dh-exec, default-jdk-headless:amd64, ant:all, ivy:all, libjsch-java:all
 
Package: havis.util.cycle
Architecture: all
Depends: ${shlibs:Depends}
Description: Ha-VIS Util Cycle
Section: java
Priority: optional
